/*-------------------------
LetMeScroll.js
Made by: Bruno Vieira
--------------------------- */

:root {

  /* Colors */
  --lms_scrollbar_bg: #868686;
  --lms_scrollbar_radius: 5px;
  --lms_scrollpath_bg: transparent;
  --lms_scrollpath_radius:  5px;
}

.lms_scrollable {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-right: 15px;
    max-width: 99%; /* 1% is for the scrollbar div */
}

.lms_scroll_track
{
    background: var(--lms_scrollpath_bg);
    border-radius: var(--lms_scrollpath_radius);  
    width: 8px;
    position: absolute;
    right: 0px;
    height: 100%;
    top: 0px;
    transition: opacity 0.5s ease;
    user-select: none;
}

.lms_scrollable .lms_content_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.lms_scrollable .lms_content_wrapper::-webkit-scrollbar {
    display: none;
}

.lms_scroller {
    cursor: default;
    z-index: 5;
    position: absolute;
    width: 100%;
    border-radius: var(--lms_scrollbar_radius);
    background: var(--lms_scrollbar_bg);
    top: 0px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
    user-select: none;
    transition: opacity 0.5s ease;
}